@*@model IEnumerable<MvcMovie.Models.Movie>*@ @*zmeneno na nize:*@
@model List<ELTest.Models.ELTask>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

@*html tag <form> pouziva Form Tag Helper, takze kdyz submitnu form, filter string je postnutej do Index akcni metody
    Movies controlleru*@
@*kdyz bych neuvedl method=get, pak by se mi parametr posilal skrze Form Field, muzu si to overit v Sit-Vse-
    ten request zvolim, a pak Request, a tam je to videt ze se to posila... kdyz to method=get pridam,
    tak se mi ten parametr hledani sam nasere do URL... proste se pouzije GET metoda, prestoze mam definovanej i HttpPost Index*@
<!--<form asp-controller="ELTask" asp-action="Index" method="get">
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">--> @*tohle MovieGenre bude taky parametr v url*@
            <!--<option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString">--> @*tohle SearchString bude parametr v URL, SearchString=ABC*@
        <!--<input type="submit" value="Filter" />
    </p>
</form>-->

@*tabulka pro vypis ukolu*@
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AcivityTypeSortParm"]">Type of activity</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Date</a>
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)*@
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
