@model ELTest.Models.ELTaskActivityTypeViewModel2

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" class="col-md-4">
    <div class="form-group">
        <label asp-for="ActivityTypes" class="control-label"></label>
        <select asp-for="SelectedActivityTypeID" asp-items="Model.ActivityTypes">
            <option value="">All</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="From" class="control-label"></label>
        <input asp-for="From" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="To" class="control-label"></label>
        <input asp-for="To" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
</form>

@*tabulka pro vypis ukolu*@
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AcivityTypeSortParm"]">Type of activity</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Date</a>
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)*@
        @foreach (var item in Model.ELTasks)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @if (item.To == null)
                {
                    <span>Now</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.To)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                @if (item.To == null)
                {
                    <span>|</span> <a asp-action="StopStopwatch" asp-controller="ELTask" asp-route-stopWatch="stopwatchStart" asp-route-id="@item.ID">Stop</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>


