@model ELTest.Models.ELTaskActivityTypeViewModel2

@{
    ViewData["Title"] = "Index";
    //ViewData["PageNumber"] = "1";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<form id="form1" asp-action="Index" class="col-md-12" style="margin-bottom: 25px">
    <div class="row">
        <div class="col-md-3">
            <label asp-for="ActivityTypes" class="control-label"></label>
            <br />
            <select asp-for="SelectedActivityTypeID" asp-items="Model.ActivityTypes">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-md-3">
            <label asp-for="From" class="control-label"></label>
            <input asp-for="From" class="form-control" />
        </div>
        <div class="col-md-3">
            <label asp-for="To" class="control-label"></label>
            <input asp-for="To" class="form-control" />
        </div>
        <div class="col-md-1">
            <label asp-for="NumberOfResultsPerPage" class="control-label">Results per page</label>
            <input asp-for="NumberOfResultsPerPage" class="form-control" />
        </div>
        <div class="col-md-1">
            <label asp-for="PageNumber" class="control-label">Page</label>
            <input id="inputPageNumber" asp-for="PageNumber" class="form-control" />
        </div>
        <div class="col-md-1" style="margin: auto; text-align: center;">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>

@*tabulka pro vypis ukolu*@
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AcivityTypeSortParm"]">Type of activity</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Date</a>
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)*@
        @foreach (var item in Model.ELTasks)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @if (item.To == null)
                {
                    <span>Now</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.To)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                @if (item.To == null)
                {
                    <span>|</span> <a asp-action="StopStopwatch" asp-controller="ELTask" asp-route-stopWatch="stopwatchStart" asp-route-id="@item.ID">Stop</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@{ 
    int.TryParse(ViewData["PageNumber"].ToString(), out int pageNumber);
    //Model.PageNumber = pageNumber + 1; //toto bych rad udelal pri kliku na tlacitko
}


<div>
    <form>
        <div class="form-group">
            @*@if (pageNumber == 1)
        {
            <input type="submit" disabled="disabled" value="Previous" class="btn btn-primary" />
        }
        else
        {
            <input type="submit" asp-for="NumberOfResultsPerPage" form="form1" onclick="location.href='@Url.Action("Index", "ELTask", new { page = pageNumber-1, numberOfItemsPerPage = 2 })'" value="Previous" class="btn btn-primary" />
        }
        <input type="submit" asp-for="NumberOfResultsPerPage" form="form1" onclick="location.href='@Url.Action("Index", "ELTask", new { page = pageNumber+1, numberOfItemsPerPage = 2 })'" value="Next" class="btn btn-primary" />*@

            @*<input type="submit" asp-for="NumberOfResultsPerPage" form="form1" onclick="location.href='@Url.Action("Index", "ELTask")'" value="test" class="btn btn-primary" />*@

            @*@if (pageNumber == 1)
        {
            <input type="submit" disabled="disabled" value="Previous" class="btn btn-primary" />
        }
        else
        {
            <input type="submit" form="form1" value="Previous" class="btn btn-primary" />
        }
        <input type="submit" form="form1" value="Next" class="btn btn-primary" />*@

            @if (pageNumber == 1)
            {
                <input type="button" disabled="disabled" value="Previous" class="btn btn-primary" />
            }
            else
            {
                <input type="button" onclick="incrementPage(-1)" value="Previous" class="btn btn-primary" />
            }
            <input type="button" onclick="incrementPage(1)" value="Next" class="btn btn-primary" />

        </div>
    </form>
</div>

<script>
    function nextPage(incrementBy) {
        var pageNumber = JSON.parse('@Html.Raw(Json.Serialize(ViewData["PageNumber"]))');

        $("#inputPageNumber").val(parseInt(pageNumber) + incrementBy);
        $("#form1").submit();
    }
</script>

